[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
werkzeug = "*"
dotenv = "*"
wtforms = "*"
flask-mysqldb = "*"
psycopg2-binary = "*"
uwsgi = "*"
requests = "*"
email-validator = "*"
bcrypt = "*"

[dev-packages]
cffi = "*"
cryptography = "*"
pycparser = "*"
pyopenssl = "*"

[requires]
python_version = "3.13"
