<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2/bootstrap-5.2.2.min.css') }}">
    {% block css_content %} {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>GameFlix Python Project</title>
  </head>
  <body>
  {% include 'navbar.html' %}
  {% block body_content %} {% endblock %}
  <script src="{{ url_for('static', filename='popper-2.11.6/popper-2.11.6.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-5.2.2/bootstrap-5.2.2.min.js') }}"></script>
  {% block js_content %} {% endblock %}
  </body>
</html>
