  {% extends "admin/admin_base.html" %}

  {% block body_content %}
    <div class="container">
      <form method="POST">
        {{form.hidden_tag()}}
        <fieldset class="form-group">

          <legend class="border-bottom md-4">Add Subscription:</legend>
          <div class="row">
            <div class="form-group col-md-3" id="subscription_name">
              {% if form.subscription_name.errors %} {{ form.subscription_name(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.subscription_name.errors %} <span>{{ error }}</span> {% endfor %}
                </div>
              {% else %} {{ form.subscription_name(class="form-control form-control-sm", value="") }} {% endif %}
            </div>
            <div class="form-group col-md-1" id="rentals_allowed">
              {% if form.rentals_allowed.errors %} {{ form.rentals_allowed(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.rentals_allowed.errors %} <span>{{ error }}</span> {% endfor %}
                </div>
              {% else %} {{ form.rentals_allowed(class="form-control form-control-sm", value="") }} {% endif %}
            </div>
            <div class="form-group col-md-1" id="price">
              {% if form.price.errors %} {{ form.price(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.price.errors %} <span>{{ error }}</span> {% endfor %}
                </div>
              {% else %} {{ form.price(class="form-control form-control-sm", value="") }} {% endif %}
            </div>
            <div class="form-group col-md-2" id="submit">
              {{ form.submit(class="btn btn-outline-success btn-sm") }}
            </div>
          </div>

        </fieldset>
      </form>
      <legend class="border-bottom md-4">Subscriptions</legend>
      <table class="table table-striped table-hover" id="subscriptions">
        <thead>
          <tr>
            <th>Subscription</th>
            <th>Rentals Allowed</th>
            <th>Monthly Cost</th>
          </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
          <tr>
            <td>
              <a href="{{ url_for('admin.edit_subscription', subscription_id=subscription.subscription_id) }}"><button type="button" class="btn btn-outline-primary btn-sm" aria-pressed="true"><b>{{ subscription['subscription_name']|safe }}</b></button>
            </td>
            <td>
              {{ subscription['rentals_allowed']|safe }}
            </td>
            <td>
              {{ subscription['price']|safe }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {%endblock%}

  {% block admin_js_content %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const dataTable = new simpleDatatables.DataTable("#subscriptions", {
          select: 0, sort: "desc"
        })
      })
    </script>
  {%endblock%}