  {% extends "admin/admin_base.html" %}

  {% block body_content %}
    <div class="container">
      <legend class="border-bottom md-4">Users</legend>
      <table class="table table-striped table-hover" id="users">
        <thead>
          <tr>
            <th>User</th>
            <th>Email</th>
            <th>Subscription</th>
            <th>Enabled</th>
            <th>Access Level</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>
              {{ user['last_name']|safe }}, {{ user['first_name']|safe }}
            </td>
            <td>
              {{ user['email']|safe }}
            </td>
            <td>
              {% if user['subscription_name'] == '-- Select Subscription --' %}
                Not Set
              {% else %}
                {{ user['subscription_name']|safe }}
              {% endif %}
            </td>
            <td>
              {% if user.access_level != 1 %}
                {% if user.enabled != True: %}
                  <a href="{{ url_for('admin.set_permission', user_id=user.user_id) }}"><button class="btn btn-outline-danger btn-sm" id="del_modal-{{ user['user_id'] }}"><b>False</b></button></a>
                {% else %}
                  <a href="{{ url_for('admin.set_permission', user_id=user.user_id) }}"><button class="btn btn-outline-success btn-sm" id="del_modal-{{ user['user_id'] }}"><b>True</b></button></a>
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if user.access_level != 1 %}
                <button class="btn btn-outline-danger btn-sm" id="del_modal-{{ user['user_id'] }}"><b>{{ user['access_level']|safe }}</b></button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {%endblock%}
  
  {% block admin_js_content %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const dataTable = new simpleDatatables.DataTable("#users", {
          select: 0, sort: "desc"
        })
      })
    </script>
  {%endblock%}