{% extends "base.html" %}
{% block body_content %}
  <div class="container">
    <h1>{{ message }}</h1>
    <hr>
    <div class="container">
      <form method="POST">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
          <legend class="border-bottom md-4">{{ denied }}</legend>

          <div class="row">
            <div class="form-group col-md-4" id="email">
              {{ form.email.label(class="form-control-label") }} {% if form.email.errors %} {{ form.email(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %} <span>{{ error }}</span> {% endfor %}
                </div>
              {% else %} {{ form.email(class="form-control form-control-sm") }} {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4" id="password">
              {{ form.password.label(class="form-control-label") }} {% if form.password.errors %} {{ form.password(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %} <span>{{ error }}</span> {% endfor %}
                </div>
              {% else %} {{ form.password(class="form-control form-control-sm") }} {% endif %}
            </div>
          </div>
          <p>
          <center>
            <div class="form-group border-top" id="submit-btn">
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </center>

        </fieldset>
      </form>
    </div>  
  </div>
{%endblock%}
